.Main{
    margin: 25px 0;
}
.Hero{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    justify-self: center;
    max-width: 600px;
    text-align: center;
}
.Link{
    background-color: var(--foreground);
    width: min-content;
    align-self: center;
    min-width: 200px;
    border-radius: 10px;
    padding: 5px 10px;
}
.Link:hover{
    color: var(--accent)
}

.Form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-md);
}
.Input{
    background-color: var(--foreground);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
}
.Input::placeholder{
    color: var(--text-secondary);
}
.Submit{
    font-size: 16px;
    background-color: var(--foreground);
    border: none;
    cursor: pointer;
    color: var(--text);
    border-radius: 10px;
    padding: 5px 10px;
}

@media (max-width: 1024px) {
    .Form{
        flex-direction: column;
    }
}